.movies{
    display: grid;
    grid-template-columns: repeat(auto-fill,
                           minmax(16rem, 1fr));
}

.movie{
    display: flex;
    flex-direction: row;
    margin: 10%;
}

.movieDescription{
    text-align: center;
    justify-content: space-between;
    margin-top: 5vh;
}

.imgPoster{
    width: 100%;
    height: 70%;
}

.card{
    border: none;
}